{% extends 'layout.twig' %}

{% block content %}
    <form action="/add" method="post" autocomplete="off" enctype="multipart/form-data">
        {% include 'base-form.twig' %}
        <div class="form-group">
            <label for="cover">Book cover</label>
            <input required type="file" class="form-control-file" id="cover" name="cover">
        </div>
        <div id="button-row" class="form-group">
            <button type="submit" class="btn btn-secondary btn-lg">ADD</button>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/stylesheets/book-add.css' />
{% endblock %}
