#no-results-wrapper {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    text-align: center;
}

#no-results-wrapper > .row {
    justify-content: center;
}

#results-wrapper {
    font-size: 20px;
}

.btn-lg {
    font-size: 1.5rem;
}

.card-title {
    font-weight: 900;
}

.card-img-top {
    height: 25rem;
    object-fit: cover;
}

.card-footer a  {
    width: 100%;
}

#book-card {
    width: 100%;
    margin-bottom: 20px;
}

#main-content .message {
    margin-bottom: 20px;
}

@media screen and (max-width: 400px){
    #no-results-wrapper {
        font-size: 30px;
    }
}

@media screen and (min-width: 401px) and (max-width: 991px){
    #no-results-wrapper {
        font-size: 30px;
    }
}

@media screen and (max-width: 575px){
    .card-img-top {
        height: auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .card-img-top {
        height: 22rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .card-img-top {
        height: 20rem;
    }

    .card-footer a {
        font-size: 0.89rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .card-img-top {
        height: 27rem;
    }
}